<section *ngIf="artist">
    <h1>{{ artist.name }}</h1>
    <img 
        [src]="artist.images[0]?.url" 
        [height]="artist.images[0]?.height"
        [width]="artist.images[0]?.width">
    <h2>Genres</h2>
    <ul>
        <li *ngFor="let genre of artist.genres">
            {{ genre }}
        </li>
    </ul>
</section>
<section *ngIf="albums?.length">
    <h2>Albums</h2>
    <ul>
        <li *ngFor="let album of albums">
            <app-album [album]="album"></app-album>
        </li>
    </ul>
</section>
